* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
}
:root {
	font-size: 10px;
	font-family: Tahoma;
	--white: #fff;
	--grey-color: #f4f4f4;
	--soft-dark: #4d4848;
	--highlight-blue: #0b8be5;
	--nav-font-size: 20px;
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
/* Navbar styles: */
.navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-content: center;
	font-size: var(--nav-font-size);
	padding: 1rem;
	background: var(--highlight-blue);
	box-shadow: 0 0px 5px rgba(0, 0, 0, 0.5);
	z-index: 5;
}
.logo-image {
	width: var(--nav-font-size);
}
.nav-text {
	color: var(--highlight-blue);
	text-decoration: none;
	padding: 10px 15px;
	margin: 0 0 0 5%;
	background-color: var(--white);
	border-radius: 8px;
}
.nav-links {
	display: flex;
	gap: 10px;
	margin: 0 5% 0 0;
}
.nav-links a {
	color: var(--white);
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 10px 5px;
}
.nav-links a:hover {
	color: var(--highlight-blue);
	background-color: var(--white);
	transition: 0.4s;
}
/* Main showcase styles: */
.homepage-showcase {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	font-size: 2rem;
	text-align: center;
	width: fit-content;
	animation: float 3s ease-in-out infinite;
}
/* Added animation */
@keyframes float {
	0%,
	100% {
		transform: translateY(0);
	}

	50% {
		transform: translateY(-3px);
		/* Increase translateY() value to increase movement distance */
		/* Decrease translateY() value to decrease movement distance */
	}
}
.heading-text {
	color: var(--highlight-blue);
	cursor: default;
}
.profile-image {
	width: 16rem;
	height: 16rem;
	border-radius: 100%;
}
.language-texts {
	color: var(--highlight-blue);
	font-weight: 500;
	cursor: default;
}
.language-logo-group {
	display: flex;
	width: fit-content;
	gap: 10px;
}
.language-logos {
	height: 4rem;
	width: 4rem;
}
.call-to-action-button {
	color: var(--white);
	font-size: 2rem;
	padding: 10px 60px;
	width: fit-content;
	margin: 25px auto 0;
	background-color: var(--highlight-blue);
	border: 2px solid var(--highlight-blue);
	border-radius: 30px;
	cursor: pointer;
}
.call-to-action-button:hover {
	color: var(--highlight-blue);
	background: rgba(255, 255, 255, 0);
	border: 2px solid var(--highlight-blue);
	box-shadow: 0 0 8px var(--highlight-blue);
	transition: 0.75s;
}
.call-to-action:focus {
	outline: none;
}
/* Individual pages' "showcase" styles: */
.page-showcase {
	font-size: 2rem;
	padding: 10px;
}
/* Individual pages' "section" styles: */
.skills-section,
.project-section,
.about-section,
.contact-section {
	width: 50vw;
	padding: 10px;
	margin: 0 auto 15px;
	background-color: #f4f4f4;
	border: 1px solid #666;
	border-radius: 10px;
}
/* Projects & Skills pages' "heading" styles: */
.project-heading,
.skills-heading {
	color: var(--highlight-blue);
	font-size: 2rem;
}
/* Individual pages' "text content" styles: */
.skills-text,
.project-text,
.about-text,
.contact-text {
	color: rgb(25, 25, 25);
	font-size: 1.8rem;
	line-height: 2rem;
}
/* Projects page 'links" styles: */
.project-text a {
	display: block;
	color: white;
	width: fit-content;
	padding: 4px 10px;
	margin: 5px 0 0 0;
	background-color: var(--highlight-blue);
	border: 2px solid var(--highlight-blue);
	border-radius: 5px;
	transition: 0.75s;
}
.project-text a:hover {
	color: var(--highlight-blue);
	background-color: white;
}
/* logo tab (only visible on mobile screens) styles: */
.minscreen-logo {
	display: none;
	position: fixed;
	top: 0.7rem;
	left: 0.5rem;
	font-size: 1.5rem;
	width: fit-content;
	/* padding: 5px 5px; */
	background-color: var(--highlight-blue);
	border-radius: 10px 2px;
	z-index: 10;
}
/* Side menu open button styles:*/
.side-menu-button {
	display: none;
	position: fixed;
	top: 10px;
	right: 10px;
}
/* Side menu styles: */
.side-menu {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 0;
	padding-top: 20px;
	background-color: #111;
	opacity: 0.9;
	overflow-x: hidden;
	transition: 0.5s;
	z-index: 10;
}
/* Side menu "link" styles; */
.side-menu a {
	color: #ccc;
	font-size: 2.5rem;
	text-align: center;
	text-decoration: none;
	padding: 15px 10px;
	display: block;
	transition: 0.2s;
}
/* Side menu "close button" styles: */
.side-menu .btn-close {
	position: absolute;
	top: -1.9rem;
	right: 0rem;
	font-size: 4rem;
}
/*---------------------------- Mobile Phone Screen Styles: */
@media (max-width: 568px) {
	.navbar {
		display: none;
	}

	.minscreen-logo {
		display: block;
		background-color: var(--highlight-blue);
	}

	.nav-text {
		color: var(--white);
		background-color: var(--highlight-blue);
		margin: 0 0 0 0;
	}
	.side-menu-button {
		display: block;
	}
	/* Homepage mobile styles: */
	.homepage-showcase {
		display: flex;
		flex-direction: column;
		align-content: center;
		/* justify-content: center; */
	}
	.skills-section,
	.project-section,
	.about-section,
	.contact-section {
		width: 90%;
		padding: 10px;
		margin: 0 auto 15px;
		background-color: #f4f4f4;
		border: 1px solid #666;
		border-radius: 10px;
	}
	.heading-text {
		font-size: 3rem;
		line-height: 3rem;
		margin-bottom: 2rem;
	}
	.profile-image {
		width: 15rem;
		height: 15rem;
		align-self: center;
	}
	.language-texts {
		font-size: 1.5rem;
	}
	.language-logos {
		margin: 0 10px;
		width: 4.5rem;
	}
	.call-to-action {
		font-size: 1.5rem;
		padding: 10px 35px;
	}
}
