* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	font-size: 10px;
	font-family: sans-serif;
	--soft-dark: #4d4848;
	--white: #fff;
	--highlight-color: #0b8be5;
	--grey-color: #f4f4f4;
	--logo-nav: 20px;
}

/* removing default dotted style from <li> tag elements */
li {
	list-style: none;
}

/* removing default underline style from <a>  tag elements */
a {
	color: var(--white);
	text-decoration: none;
}

.navbar {
	position: absolute;

	width: 100%;
	display: flex;
	font-size: var(--logo-nav);
	padding: 1rem;
	justify-content: space-between;
	/*Add bottom border shadow*/
	background: var(--highlight-color);
	z-index: 10;
}

.logo-image {
	width: var(--logo-nav);
}

.nav-text {
	color: var(--white);
}

.nav-links {
	display: flex;
}

.nav-links a {
	color: var(--white);
	padding: 0 15px;
}

.nav-links a:hover {
	color: skyblue;
	transition: 0.5s;
}

.main-showcase {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	font-size: 2rem;
	background-color: var(--grey-color);
	/* background: linear-gradient(to bottom, #f4f4f4, skyblue); */
	/* height: 92vh; */
	z-index: 5;
}

.showcase-content {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: fit-content;
}

.heading-text {
	color: var(--highlight-color);
}

.sub-heading {
	color: var(--soft-dark);
	margin: 10px 0;
}

.profile-image {
	width: 220px;
	height: 220px;
	border-radius: 100%;
}

.call-to-action {
	color: var(--white);
	background-color: var(--highlight-color);
	padding: 10px;
	width: fit-content;
	margin: 10px auto 0 auto;
	border: 2px solid var(--highlight-color);
	border-radius: 20px 0;
	cursor: pointer;
}

.call-to-action:hover {
	color: var(--highlight-color);
	background: rgba(0, 0, 0, 0);
	border: 2px solid var(--highlight-color);
	transition: 0.75s;
}

.call-to-action:hover a {
	color: var(--highlight-color);
}

.language-logo-group {
	display: flex;
	width: fit-content;
	margin: 5px auto 0 auto;
}

.language-logos {
	margin: 0 10px;
}
