* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

:root {
	font-size: 10px;
	font-family: sans-serif;
	--soft-dark: #4d4848;
	--white: #fff;
	--highlight-color: #0b8be5;
	--grey-color: #f4f4f4;
}

/* removing default dotted style from <li> tag elements */
li {
	list-style: none;
}

/* removing default underline style from <a>  tag elements */
a {
	color: var(--white);
	text-decoration: none;
}

.navbar {
	display: flex;
	font-size: 2.5rem;
	padding: 1rem;
	justify-content: space-between;
	/*Add bottom border shadow*/
	background: var(--highlight-color);
}

.logo-image {
	width: 25px;
}

.nav-text {
	color: var(--white);
}

.nav-links {
	display: flex;
}

.nav-links a {
	color: var(--white);
	padding: 0 15px;
}

.nav-links a:hover {
	color: skyblue;
	transition: 0.5s;
}

.main-showcase {
	position: relative;
	font-size: 2rem;
	background-color: var(--grey-color);
	height: 91vh;
	z-index: 5;
}

.showcase-content {
	position: relative;
	top: 45%;
	left: 50%;
	transform: translate(-45%, -50%);
	text-align: center;
	width: fit-content;
}

.heading-text {
	color: var(--highlight-color);
}

.sub-heading {
	color: var(--soft-dark);
	margin: 10px 0;
}

.profile-image {
	width: 220px;
	height: 220px;
	border-radius: 100%;
}

.call-to-action {
	color: var(--white);
	background-color: var(--highlight-color);
	padding: 10px;
	width: fit-content;
	margin: 10px auto 0 auto;
	border: 2px solid var(--highlight-color);
	border-radius: 20px 0;
	cursor: pointer;
}

.call-to-action:hover {
	color: var(--highlight-color);
	background: var(--white);
	border: 2px solid var(--highlight-color);
	transition: 0.75s;
}

.call-to-action:hover a {
	color: var(--highlight-color);
}
